{% extends 'get_recipes/base.html' %}

{% block title %}Your Recipes{% endblock title %}

{% block content %}
    <h1>Your Recipes!</h1>
    <ul>
        {% for recipe in recipes_en  %}
           <li> <a href="{{ recipe.sourceUrl }}"> {{ recipe.title }} </a> </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <h1>As suas receitas!</h1>
    <ul>
        {% for key, value in recipes_pt.items  %}
            <li><a href="{{value}}"> {{ key }} </a></li>
        {% endfor %}
    </ul>
{% endblock content %}