{% extends 'recipes/base.html' %}

{% block title %}Your Recipes{% endblock title %}

{% block content %}

<h1>Your Recipes!</h1>
<br>
<table>
    <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Ingredients</th>
        <th>Missing Ingredients Count</th>
        <th>%Carbs</th>
        <th>%Proteins</th>
        <th>%Fats</th>
        <th>Calories</th>
    </tr>
    {% for recipe in recipes %}
    <tr>
        <td><a href="{{recipe.recipe.sourceurl}}">{{recipe.recipe.title}}</a> </td>
        <td><img src="{{recipe.recipe.picture_url}}" alt="{{recipe.recipe.title}}"></td>
        <td>{{recipe.recipe.ingredients}}</td>
        <td>{{recipe.missing_ingredient_count}}</td>
        <td>{{recipe.recipe.carbs}}</td>
        <td>{{recipe.recipe.proteins}}</td>
        <td>{{recipe.recipe.fats}}</td>
        <td>{{recipe.recipe.calories}}</td>
    </tr>

    {% endfor %}

</table>
<br>
<h1>As tuas receitas!</h1>
<br>
<table>
    <tr>
        <th>Título</th>
        <th>Imagem</th>
        <th>Ingredientes</th>
        <th>Número de Ingredientes em Falta</th>
        <th>%Hidratos de Carbono</th>
        <th>%Proteínas</th>
        <th>%Gorduras</th>
        <th>Calorias</th>
    </tr>
    {% for recipe in recipes %}
    <tr>
        <td><a href="{{recipe.recipe.sourceurl}}">{{recipe.recipe.title_pt}}</a></td>
        <td><img src="{{recipe.recipe.picture_url}}" alt="{{recipe.recipe.title_pt}}"></td>
        <td>{{recipe.recipe.ingredients_pt}}</td>
        <td>{{recipe.missing_ingredient_count}}</td>
        <td>{{recipe.recipe.carbs}}</td>
        <td>{{recipe.recipe.proteins}}</td>
        <td>{{recipe.recipe.fats}}</td>
        <td>{{recipe.recipe.calories}}</td>
    </tr>

    {% endfor %}

</table>






<!--    <h1>Your Recipes!</h1>
    <ul>
        {% for recipe in recipes_en  %}
           <li> <a href="{{ recipe.sourceUrl }}"> {{ recipe.title }} </a> </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <h1>As suas receitas!</h1>
    <ul>
        {% for key, value in recipes_pt.items  %}
            <li><a href="{{value}}"> {{ key }} </a></li>
        {% endfor %}
    </ul>          -->
{% endblock content %}
